html, body {
  overflow-x: hidden;
  min-height: 100%;
  font-size: 14px;
  list-style: none;
}


header h1 {
  text-align: center;
  color: black;
}

a:hover {
  color: #999;
  /*マウスオン時の文字色*/
}

/*メニューの設定
/*ボックス全体の設定*/
ul {
  text-align: center;
}

/*リンクテキストの設定*/
#menubar a {
  display: block;
  text-decoration: none;
  padding: 0 8px;
  /*上下、左右へのテキスト内にとる余白。*/
}

/*メニュー１個あたりの設定*/
#menubar li {
  display: inline-block;
  /*メニューを横並びにする指定*/
  text-align: center;
  position: relative;
}

#menubar li::before {
  content: "";
  background: #ccc;
  /*下線の色*/
  height: 3px;
  /*下線の高さ*/
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  transition: 0.2s;
  /*アニメーションにかける時間*/
  transition-timing-function: ease-out;
  transform: scaleX(0);
}

/*マウスオン時*/
#menubar li:hover::before {
  transform: scaleX(1);
}

/*mainブロック */
main h2 {
  text-align: center;
  letter-spacing: 0.1em;
  /* 文字間隔を少しだけ広くとる設定 */
  border-bottom: 3px solid #ccc;
  /* 下線の幅、線種、色 */
}

/*mainブロックのpタグ*/
main p {
  margin-bottom: 40px;
  /*下へ空けるスペース*/
}

/*フッター設定 */
footer small {
  font-size: 100%;
}

footer {
  font-size: 0.6rem;
  text-align: center;
  padding: 20px;
}

footer a {
  justify-content: center;
  padding-left: 15px;
  text-decoration: none;
  color: black;
}

/*アイコン１個あたりの設定*/

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

footer small {
  text-align: center;
}

/* 以下画面幅600px以上追加指定 */
/* @media screen and (min-width:600px) { */

/*メニューの設定
/*リンクテキストの設定*/
#menubar a {
  padding: 0 20px;
  color: black;
  /*上下、左右へのテキスト内にとる余白。*/
}

/* ここから下は画面幅800px以上の追加指定 */
/* @media screen and (min-width:800px) { */

 /*全体の設定 */
html, body {
  font-size: 18px;
  /*基準となるフォントサイズの上書き*/
}

/*section全般の設定*/
section {
  padding-top: 50px;
  /*sectionの間に空けるスペース*/
}

/*headerブロック*/
header {
  padding: 30px 0;
  /*上下、左右へ空ける余白*/
}

/* mainブロック */
main {
  margin: 50px 70px;
  /*上下、左右へのブロックの外側へ空けるスペース*/
}

/* } */

.container-product a {
  color: black;
}